[user]
  name = {{ FULL NAME }}
  email = {{ EMAIL ADDRESS }}

[alias]
  ci = commit
  co = checkout
  b = branch
  nb = checkout -b
  stat = status
  sl = stash list
  sa = stash apply
  sd = stash drop
  d = difftool
  dc = difftool --cached

  #reference -- https://coderwall.com/p/euwpig
  lg = log --color --graph --pretty=tformat:'%C(red)%h%C(reset) -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%C(reset)' --abbrev-commit

  #reference -- unknown
  lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative

  #reference -- http://garmoncheg.blogspot.com/2012/06/pretty-git-log.html
  lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit

  # quickly see stats on each commit
  ls = log --oneline --shortstat --pretty=format:\"%C(bold blue)%h%C(reset) %C(white)%s%C(reset) %C(bold green)(%ar)%C(reset) %C(red)<%an>%C(reset)\" -C --abbrev-commit

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[diff]
  tool = Kaleidoscope

[difftool]
  prompt = false

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
