"*":
  core:
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    fontSize: 17
    scrollPastEnd: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "a2dabd5e-ced1-460a-9929-ef26c7c61190"
  "one-dark-ui":
    layoutMode: "Compact"
  welcome:
    showOnStartup: false
